@import "fonts"
@import "header"
@import "hero"
@import "services"
@import "how"
@import "order"
*
  margin: 0
  padding: 0
  color: #000
  text-decoration: none
  box-sizing: border-box
.container
  width: 100%
  max-width: 1380px
  margin: 0 auto
  display: flex
body
  background: #ffffff
.body_active
  overflow: hidden
  .order
    transform: translate(-50%, 100%)
  .header
    display: none
  .how
    .container
      .how__text
        transform: translateY(-100%)
      .how__img
        border-radius: 0
        img
          border-radius: 0
    .how__menu
      transform: translateX(0)
      .how__link
        transform: translateX(0)
      h4
        transform: translate(0)